#Eeeew{
		
	height:100%;
	width:99.9%;
background-image:url(PFWImg/NewVCity.jpg);
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
position:fixed;
}
#PAkl{
	height:120px;
	width:100%;
	opacity:0.9;
	background-color:#000;
	color:#fff;
}
.QQQS{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size:40px;	
}
.nskk{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size:24px;	background-color:#000; border:none; color:#fff;	
}
.soo{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size:24px;	
}
.stay{
font-size:24px; margin-left:35px;	
}
#chik{
	display:none;
}
#shot{
	display:none;
}

#mudre{
	margin-left:2.5%;
	width:95%;  opacity:0.9;
	height:100%;
	margin-top:2px; position:fixed; background-color:#fff; 
}
#plam{
	float:right;
	width:30%;
}
#shhs{
	height:50px;
	width:95%;
	background-color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:40px;
	opacity:0.9;
	margin-left:2.5%;
	text-align:center;
	margin-top:2px;
}
#jqk{
	width:100%; 
	height:100%;
	overflow:auto; 
	
}
.bkaj{
		width:95%; text-align:center;
	height:30px; border:none; background-color:#000; color:#fff;
}
#allo{
	 position:fixed;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:95%; 
	height:70%; 
}
#aa{
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:100%; 
	height:74.5%;
}
#chik{
	display:none;
	background-color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:95%; margin-left:2.5%;
	height:74.5%; opacity:0.9;
	margin-top:0.1%;
}
#scaleh{
		width:100%; 
	height:92.5%; 
}
.titi{
	width:200px; 
	height:20px;
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;

}
.basg{
	border:1px solid #ccc;
	width:100px; 
	height:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#brkk{
	 margin-left:2.5%;	margin-top:3.8%; overflow:auto;
	
		width:90%; z-index:1; position:fixed;
	height:50%;
}
.nali{
	border:1px solid #ccc; position:fixed; margin-top:4%;
	width:200px; 
	border-radius:6px; float:right; margin-left:63%;
	height:auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.chza{
	border:1px solid #ccc; position:fixed;
	width:90px; 
	height:30px;	margin-left:56%;
}
.chall{
	border:1px solid #ccc; position:fixed;
	width:90px; 
	height:30px;	margin-left:63%;
}
#wine{
	background-color:yellow;
	height:auto;
	width:100%;
}
.meki{
		border:none; position:fixed;
	width:100px; background-color:#000;
	height:30px;	color:#fff; float:left; margin-left:48%;
}
.sdr{
		border:none; position:fixed;
	width:100px; background-color:#000;
	height:30px;	color:#fff; float:right; margin-left:70%;
}
.basis{
 margin-left:100px;
	width:95%;
	height:auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.sad{

	width:200px; 
	height:auto; border-left:1px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
}
.geni{
	 margin-left:2.5%;
	width:95%;
	height:auto;
}
.sadf{
	
	width:200px; 
	height:100px; border-left:1px solid #ccc; text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
}
.picha{
	border:none; text-align:center;
}
.champ{
	border:none; width:100px; height:30px;
}
.righh{
	border:none;
	 color:#fff; background-color:#000;
	 	width:100px; 
	height:20px;
}
#fut{
	float:left;
	width:60%; 
	height:100%;
}
.guttr{
	width:95%; 
	height:60%;
	margin-left:2.5%;
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
 color:#fff; background-color:#000;
}
.game{
	border:none;
		width:100%; color:#ccc;
			text-align:center;
	height:100%;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#gal{
	float:right;
	width:40%; 
	height:100%;
	border-left:1px solid #ccc;
}
.moth{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:95%; 
	height:100%;
	margin-left:2.5%; 
}
.salty{
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border-bottom:none;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
		width:100%; 
	height:30px; background:transparent;
}
.salt{
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border-bottom:none;
	border:1px solid #ccc;
		width:100%; 
	height:30px;
}
#thnk{
border:1px solid #ccc;
	overflow:auto;
	height:300px;
	width:100%;
}
.lky{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
height:70px;
width:165px;  
text-align:center;
border:1px solid #ccc; background:transparent;	
}
.emdo{
	width:100%;
	height:410px;
}
.lies{
	width:100%; border:none;
	height:100px; margin-top:-8px;
	background-color:#fff; opacity:0.9;
	text-align:center;
}
.smok{
	width:100%; border:none;
	height:100px; opacity:0.9;
	background-color:#fff; text-align:center;
}
.nfi{
	text-align:center;
	border:none;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		border-bottom:1px solid #ccc;
		width:auto;
		background:transparent;
}
.togo{
		width:100%;
	height:100px; opacity:0.9;
}
#faya{
	float:left; 
	width:60%;

}
.klub{
	width:100%;
	height:410px;
}
.rasip{
	width:300px;
	height:200px;
border:none;
opacity:0.9; color:#fff;
background-color:#000;	 font-size:46px;
border:1px solid #ccc;
}
.huncho{
	width:300px; background-color:#000;
	height:200px;	 color:#fff;
	border:none; font-size:46px;
opacity:0.9; border:1px solid #ccc;
}
.mert{
	font-size:16px;
}
.grl{
	text-align:center;
	position:fixed; margin-left:20px;
}
.putin{
	display:none; text-align:center;
	position:fixed;  margin-left:20px;
}
.hadrtf{
	border:none;
	background:transparent;
}
.weks{
	width:100%;
	height:30px;	

}
.wkw{
		width:320px;
	height:30px;
	background-color:#000; opacity:0.9; color:#fff; border:none;
}
#geno{
		width:100%;
	height:100%; 
}
#bunt{
	display:none;
		width:100%;
	height:100%; 
	
}
.epkel{
		width:90%;
	height:30px;
 
}
.grandm{
	border:none;
	background-color:#000;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#fff; text-align:center;
	width:30%; margin-left:1.5%;
	height:30px; position:fixed;
}

.djnj{
		height:50px;
		width:100%;
		border-bottom:1px solid #ccc;
		margin-top:28%;
}
.snkq{
		background-color:#000;
		border:1px solid #ccc;
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#fff;
		height:40px;
		width:100%;
}
.sager{
		border:1px solid #ccc;
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#fff;
			height:40px;
		width:100%;
}
.mser{
	border:none;
	background-color:#000;
	position:fixed;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px;
	width:300px;
	margin-left:10px;
}
.torb{
	border:none;
	background-color:#000;
	position:fixed;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px;
	width:200px;
}
.weki{
	height:200px;
	width:200px;
	margin-top:2.5%;
	margin-left:2.5%;
}
.mak{
	height:auto;
	width:95%;
	margin-top:2.5%;
	margin-left:2.5%;
}
.embr{
	border:none;
	background-color:#fff; position:fixed;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#000; text-align:center;
	height:30px;
	border-bottom:1px solid #ccc;
	width:30%; margin-left:1.5%;
}
#memo{
 position:fixed;
	width:auto;
	height:auto;
	border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:18px;
		z-index:1;
		margin-left:65%;
		margin-top:22%;
}
.uss{
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:22px;
		text-align:center;
		margin-left:20%;
}
.edk{
		height:50%;
	width:94%;
	margin-left:0.5%;
	margin-top:0.5%;
	border:0.5px solid #ccc;
	border-radius:3px;
	position:fixed;
}
.bus{
			height:30px; margin-left:8%;
	width:70%;
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.car{
	height:30px;
	width:14.7%;
	border:0.5px solid #ccc;
	background:transparent;
}
#mon{
	overflow:auto;
	height:380px; border-radius:3px;
	margin-left:8%;
	width:85%;
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}

.iyam{
border-right:0.5px solid #ccc;		
border-left:0.5px solid #ccc;		
}

#jon{
	height:380px; border-radius:3px;
	margin-left:8%;
	width:85%;
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
#mek{
	float:left;
	width:25%;
	height:100%;
	border-right:0.5px solid #ccc;
	overflow:auto;
}
#yuz{
	float:right; overflow:auto;
		width:75%;
	height:100%;
}
.tat{
	border:none;
	width:100%;
	height:30px;
	border-bottom:0.5px solid #ccc; background:transparent; 
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.doin{
	width:95%;
	height:auto;
	margin-left:2.5%;
	margin-top:2.5%;
	border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.sand{
	width:95%;
	height:100px;
	margin-left:2.5%;
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
	border-radius:5px;
}
.deepy{
		width:200px;
	height:200px; border:none;
}
.rese{
	width:95%; border:0.5px solid #ccc;
	height:auto;
	margin-left:2.5%;
	margin-top:2.5%;
}
.badk{
	text-align:center;
}
.offnd{
	width:95%;
	height:auto;
	margin-left:2.5%;
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;	
	
}
#fik{
			width:90%; overflow:auto;
	height:60%; background-color:#ccc; 
	margin-left:2.5%; position:fixed;
}
#wik{
			width:90%; overflow:auto;
	height:60%; background-color:#ccc; 
	margin-left:2.5%; position:fixed;
}
.cmkak{
		width:75%;
	height:100px; background-color:#fff; 
	margin-left:9.5%;
	margin-top:2.5%; 
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.deep{
			width:100px;
	height:100px; 
border:none;
	margin-left:2.5%;
}
.whis{
	
				width:300px;
	height:100px; 
border:none;
border-right:0.5px solid #ccc;

}
#ceah{
	width:100%;
	height:30px; 
		
}
.badr{
	float:left; border:none; width:200px;
		height:30px;  background-color:#000; color:#fff;
}
.ghst{
	float:right; border:none; width:200px;
		height:30px; background-color:#000; color:#fff;
}
#thing{
	position:fixed;
	overflow:auto;
	height:60%; background-color:#ccc; width:90%;
	margin-left:2.5%;
}
#poli{
	display:none;
	position:fixed;
		height:60%; width:90%;
	margin-left:2.5%;
}
.admin{
	float:right;
		border:0.5px solid #ccc; width:40%;
		height:380px;  
			margin-left:9.5%;
	margin-top:2.5%; 
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.ukora{
	float:left;
		border:0.5px solid #ccc; width:40%;
		height:380px;  
			margin-left:9.5%;
	margin-top:2.5%; 
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
#upldImg{
	 width:95%; margin-left:2.5%; height:200px; 
	 font-size:85px; margin-top:15px; font:16px;
}
.bowl{
		 width:95%; margin-left:2.5%; height:30px; 
border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.hko{
	width:95%; height:30px; border:none; border-bottom:0.5px solid #ccc; margin-left:2.5%;
}
.drp{
	border:0.5px solid #ccc; width:80px; height:30px;
}
.lowr{
	width:95px; height:30px; border:none; 	background-color:#000; 
	 color:#fff; 
}
.rem{
	width:95%; height:30px;  border:0.5px solid #ccc; margin-left:2.5%;
}
.inl{
	width:95%; height:30px;  border:none; margin-left:2.5%;  color:#fff;background-color:#000; 
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
}
.asm{
	width:200px;
	height:200px;
}
#lyf{
	width:95%; height:100px; overflow:auto; margin-left:2.5%;
}
.dimm{
		width:100%; height:85%; 
}
#rava{

		width:100%; height:100%;		
}

#vatu{

		width:100%; height:100%;		
}
.romnc{
	margin-left:2.5%; position:fixed;
	margin-top:2.5%;
		width:90%;
	height:53%;
	border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#fallap{
overflow:auto;
		width:100%;
	height:340px;
	border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.rdBy{
		width:76%; margin-left:2.5%;
	height:30px;
	border:0.5px solid #ccc;	
}
.cbhs{
	width:14%; z-index:1;
	height:30px;
	border:none;
background-color:#000; color:#fff;	
}
.If{
		width:100%;
	height:30px;
	background:transparent;
	border:none; text-align:left;
	border-bottom:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
}
.arr{
height:auto;
border:1px solid #ccc;	
border-radius:3px; width:95%;  margin-left:2.5%;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.pose{
height:auto;
float:right;
border:1px solid #ccc;	
border-radius:3px; width:45%;  margin-left:2.5%;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.cose{
height:auto;
float:left;
border:1px solid #ccc;	
border-radius:3px; width:45%;  margin-left:2.5%;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.nkjd{
	
	
}
.unad{
			width:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px; border:none; text-align:right; font-size:15px;
}
.nkjd{
			width:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px; border:none; text-align:right; font-size:15px;
}
.bkjb{
			width:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px; border:none; text-align:left; font-size:15px;
}
.poak{
			width:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px; border:none;
	text-align:right; font-size:15px;
}
.fcbk{
			width:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:30px; border:none;
	text-align:left; font-size:15px;
}
#binw{
	overflow:auto;
		width:95%; margin-left:2.5%; 
	height:340px;
	border:0.5px solid #ccc;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.andn{
	text-align:center;
	background:transparent;
	width:100px;
	height:100px;
	border:none;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.celeb{
	border:0.5px solid #ccc;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background:transparent;
	width:100px; text-align:center;
	height:100px;
}
#ofyu{
	overflow:auto; 
	height:300px;
	width:100%;
}
.hav{
	border:1px solid #ccc;
	width:100%;
}
.apy{
	border:none; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background:transparent; 
	width:100px;
	height:100px; 
}
.neti{
border:none;
text-shadow:none;
	height:100px;
	 	
}
.shit{
border:none;	
	height:100px;
	width:100px;
}
.london{
		border:0.5px solid #ccc;
margin-left:2.5%;
	width:95%;
	height:30px;
	
	border-radius:6px;
}
.dwn{
	border:none;
	height:30px; width:150px;
}

.berk{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	
}
.sterio{
	height:30px; background-color:#000; border:none; color:#fff;
}
	