#turd{

	width:54.5%; height:92%; margin-left:0.5%; margin-top:5px; border:none; 
	overflow:auto;
	height:400px;
background-color:#fff; position:fixed;
	
}
.djnj{
	width:100%; height:87px; border-bottom:0.5px solid #ccc; margin-left:2px; background-color:#fff;
}