.shakiti{
background-color:#000;
height:100%;
width:100%;
margin:0px;
}
.DKIADLJnsDFKos{
	height:140px;
	width:100%;
	border:none;
	position:fixed;


}
#CNAKLL{
	
	height:140px;
}
#DSJDK{
	background-color:yellow;
	height:370px;
	width:100%;
background-image:url(PFWImg/NewVCity.jpg);
-webkit-background-size:cover;
-o-background-size:cover;
-moz-background-size:cover;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}
.QQQS{
	font-size:45px;
	color:#fff;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin:-7px;
}
.ADPDAO{
	background-color:#000;
	opacity:0.9;
	height:100%;
	width:30%;
	font-family:;
	text-align:center;
	margin-left:40%;
	
}
.kajhkj{
	background-color:#000;
	opacity:0.9;
	height:100%;
	width:30%;
	font-family:;
	text-align:center;
	margin-left:40%;
	color:#fff;
}
.bhjahj{
	background-color:#fff;
	opacity:0.9;
	height:100%;
	width:40%;
	font-family:;
	margin-left:40%;
	color:#000;
}
.ADAa{
	height:40px;
	width:98%;
text-align:left;
font-family:;
border:none;
border-bottom:2px solid #ccc;
background-color:#000;
color:#fff;	
}
.bjh{
		height:30px;
	width:100%;
	background-color:#000;
	color:#fff;
	border:none;
	margin-top:5px;
}
.asnn{
	height:30px;
	width:99%;
	border:none;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.Amk{
	color:#fff;
}
.Dlooapp{
	height:40px;
	width:98%;
}
.asnk{
	color:#fff;
}
.SDKdakk{
		height:30px;
	width:100%;
	border-radius:4px;
}

.ajdi{

	
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	width:50%;
	height:30px;
	margin-top:5px;
	text-decoration:none;
	float:left;
}
.onek{
text-decoration:none;
	float:right;
	width:50%;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;

}
a{		text-align:center;
	font-size:16px;
	color:#fff;    height:35px;}